@import '../variables.css';

.aside {
    width: 290px;
    padding: 0 1.0875rem 1.45rem
}

.category {
    text-transform: capitalize;
    font-family: georgia, serif;
    color: var(--color-primary);
}

.list {
    list-style: none;
}

.list > li {
    margin-bottom: 0;   
}

.link {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: smaller;
    text-decoration: none;
    color: black;
}
